h1 hola mundo 
h2 aqui puedes subir img para el carrusel 
div 

  form(action="/upload", method="POST", enctype="multipart/form-data")
        label Imagen
        input(type="file", name="imagen")
        input(type="submit", value="Enviar")



